.contacts {
    height: 100vh;
    padding: 100px 0;

}
.contacts .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-card {
    display: flex;
    width: 810px;
    margin-left: 140px;
    padding: 50px;
    border: 2px solid #d6d6d6;
    box-shadow: 0px 0px 20px 5px rgba(52, 73, 94, 0.1);
}
.contact-list {
    margin-right: 50px;
}
.contact-list .contact-item {
    padding-top: 25px;
    border-bottom: 2px solid #d6d6d6;
}
.contact-list li:last-child {
    border: 0;
}
.contact input {
    width: 300px;
    color: #b9b9b9;
    border: 0;
    outline: none;
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 31px;
    letter-spacing: 0.56px;
}
.contact-item textarea {
    color: #b9b9b9;
    border: none;
    /*border-bottom: 4px solid #d6d6d6;*/
    outline: none;
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 14px;
    font-style: italic;
}
.contact-card figure {
    position: relative;
}
.map {
    width: 365px;
    height: 365px;
}
.map::after {
    position: absolute;
    content: "";
    top: 15px;
    left: -18px;
    width: 365px;
    height: 366px;
    background: #e8bf5d;
    z-index: 1;
}
.map iframe {
    position: relative;
    z-index: 2;
}