.faq {
    position: relative;
    height: 100vh;
}
.faq::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bg-dark-line.png") repeat-y;
    background-position: center;
    z-index: 1;
}
.faq .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faq .same-header::before {
    color: #1a1a1a;
}
.faq .section-description {
    color:#b9b9b9;
}

.faq .faq-title {
    font-family: "Open Sans", 'Ariel', sans-serif;
}
.faq .info {
    width: 406px;
    padding: 40px 40px 60px;
    color: #111111;
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.56px;
    background: #e8bf5d;
}