.main-header {
    padding: 25px 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
}
.main-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .wrapper a {
    text-decoration: none;
}
header .logo a{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111;
}
.menu .menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
.menu-list a {
    display: block;
    padding: 20px 15px 12px;
    max-font-size: 14px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    border-bottom: 4px solid #ffffff;
}
.menu-list .active {
    border-bottom: 4px solid gold;
}
.menu-list a:hover {
    border-bottom: 4px solid #e8bf5d;
}