.reviews {
    height: 100vh;
    background: url("../img/reviews-bg.jpg") no-repeat;
    background-size: cover;
}
.reviews .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../img/bg-dark-line.png") repeat-y;
    background-position: 49%;
}
.reviews .same-header::before {
    color: #262626;
}
.reviews .section-description {
    color: #b9b9b9;
}
.review {
    display: flex;
}
.review-photo {
    position: relative;
    width: 370px;
    height: 302px;
    margin-left: 0;
}
.review-photo img {
    position: relative;
    z-index: 2;
}
.review-photo::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    width: 370px;
    height: 302px;
    background: #e8bf5d;
    z-index: 1;
}
.client-review {
    padding-left: 80px;
}
.review-text {
    padding-top: 35px;
    margin-bottom: 35px;
    width: 600px;
    height: 138px;
    color: #ffffff;
    font-family: "Open Sans", 'Ariel', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.56px;
}
.client-title {
    margin: 0 0 10px;
}