.same-header {
    position: relative;
    padding-left: 15px;
    margin-bottom: 60px;
    border-left: 5px solid #e8bf5d;
    z-index: 2;
}
.same-header .section-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0px;
    z-index: 2;
}
.same-header .section-description {
    position: relative;
    width: 715px;
    padding-bottom: 5px;
    margin: 0;
    z-index: 2;
}