html,
body {
   margin: 0;
    padding: 0;

}
body {
    font-family: 'Open Sans', 'Ariel', sans-serif;
    counter-reset: section;

}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 31px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 21px;
}
p {
    color: #666666;
    font-family: 'Playfair Display', 'Ariel', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.89px;
}
ul {
    list-style: none;
    padding: 0;
}
.light-bg {
    background-color: #ffffff;
}
.dark-bg {
    background-color: #111111;
}
.light-font {
    color: #ffffff;
}
.dark-font {
    color: #111111;
}
.wrapp {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    max-width: 1170px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: url("../img/bg-line.png") repeat-y;
    background-position: 49%;
}








