/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Open Sans', sans-serif;*/
html,
body {
   margin: 0;
    padding: 0;

}
body {
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Open Sans', 'Ariel', sans-serif;
    /*color: #111111;*/
    counter-reset: section;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 31px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 21px;
}
p {
    color: #666666;
    font-family: 'Playfair Display', 'Ariel', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.89px;
}
ul {
    list-style: none;
    padding: 0;
}
.light-bg {
    background-color: #ffffff;
}
.dark-bg {
    background-color: #111111;
}
.light-font {
    color: #ffffff;
}
.dark-font {
    color: #111111;
}
.wrapp {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.number {
    position: absolute;
    width: 178px;
    height: 144px;
    color: #f3f3f3;
    font-size: 195px;
    font-weight: 400;
    line-height: 430.9px;
    letter-spacing: 0.56px;
}
.wrapper {
    max-width: 1170px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: url("../img/bg-line.png") repeat-y;
}
.main-header {
    padding: 25px 0;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
}
.main-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .wrapper a {
    text-decoration: none;
}
header .logo a{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111;
}
header .menu {
    width: 700px;
}
.menu .menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
.menu-list a {
    display: block;
    padding: 20px 15px 12px;
    max-font-size: 14px;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    border-bottom: 8px solid #ffffff;
}
.menu-list .active {
    border-bottom: 8px solid #e8bf5d;
}
.menu-list a:hover {
    border-bottom: 8px solid #e8bf5d;
}
.hero {
    position: relative;
    z-index: 9;
}
.wrapp .hero {
    position: relative;
    padding-top: 119px;
    max-width: 100%;
    height: 100%;
    /*height: 100vh;*/
}
.wrapp .picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 840pxpx;*/
    /*padding-top: 110px;*/
    z-index: 1;
}
.wrapp .color {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*height: 785px;*/
    background-image: linear-gradient(to top, #333333 0%, transparent 100%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 2;
}
.color-wrapper {
    position: absolute;
    bottom: 0;
    width: 1170px;
    height: 840px;
    left: 50%;
    margin-left: -585px;
}
.footer-hero {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 5%;
}
.footer-hero .hero-name {
    border-left: 5px solid #e8bf5d;
    padding-left: 15px;
}
.hero-name .hero-title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    font-weight: 400;
    color: #ffffff;
}
.hero-name .hero-description {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}
.footer-hero .hero-contact {
    padding: 10px 25px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    background: #e8bf5d;
    border-radius: 25px;
    border: none;
}
.about-us {
    width: 100%;
    /*height: 648px;*/
    height: 100vh;
    /*background: url("../img/bg-white.png");*/
}
.about-us .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.section-header {
    position: relative;
    padding-left: 15px;
    margin-bottom: 60px;
    border-left: 5px solid #e8bf5d;
    z-index: 2;
}
.section-header .section-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0px;
    z-index: 2;
}
.section-header .section-description {
    position: relative;
    width: 762px;
    padding-bottom: 5px;
    margin: 0;
    z-index: 2;
}

.about-us .about-job {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.expertize .expert-description {
    /* Style for "Lorem ipsu" */
    width: 486px;
    height: 169px;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.56px;
}
.history dl {
    width: 640px;
}
.history dt {
    display: inline-block;
    margin-right: 50px;
    /* Style for "2015 -" */
    color: #111111;
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 21px;
    font-weight: 700;
    /* Text style for "2, 015 -" */
    letter-spacing: 0.84px;
}
.history dd {
    display: inline-block;
    width: 455px;
    height: 38px;
    margin-bottom: 20px;
    color: #111111;
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.64px;
}
.section-header::before {
    counter-increment: section;                 /* Инкрементирует счетчик*/
    content: "0" counter(section) " ";
    position: absolute;
    width: 178px;
    height: 144px;
    color: #f3f3f3;
    font-size: 195px;
    font-weight: 400;
    top: -70px;
    left: 0;
    z-index: 1;
}
.practice {
    height: 100vh;
    padding-top: 50px;
}
.practice .wrapper {
    background: url("../img/bg-dark-line.png") repeat-y;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.practice .section-header::before {
    color: #1a1a1a;
}
.service  {
    list-style: none;
    padding: 0;
    width: 1110px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
}
.service-item {
    padding-left: 195px;
    height: 155px;
    position: relative;
}
.service-item .service-description {
    width: 357px;
    height: 89px;
    font-family: "Open Sans", 'Ariel', serif;;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.service .service-item::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 110px;
}
.service .private::before {
    left: 110px;
    width: 58px;
    height: 38px;
    background: url("../img/private.png");
}
.service .labour::before {
    left: 125px;
    width: 42px;
    height: 42px;
    background: url("../img/key.png");
}
.service .sequre::before {
    left: 110px;
    width: 49px;
    height: 43px;
    background: url("../img/screen.png");
}
.service .real::before {
    left: 125px;
    width: 42px;
    height: 33px;
    background: url("../img/house.png");
}
.meet {
    height: 100vh;
}
.meet .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list-attorney {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-attorney-item {
    max-width: 273px;
}
.list-attorney-item h3 {
    margin: 10px 0 5px;
    padding-left: 10px;
}
.list-attorney-item span {
    padding-left: 10px;
}